Specifications/Resources/Chem_eStandards_5.4_Finance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="CESFinanceBusinessServices"
     targetNamespace="urn:cidx:names:specification:ces:wsdl:finance:5.4.0"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="urn:cidx:names:specification:ces:wsdl:finance:5.4.0"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:cidx="urn:cidx:names:specification:ces:schema:all:5.4.0">
     
    <wsp:UsingPolicy xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:Required="false"/>

    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
            xmlns:cidx="urn:cidx:names:specification:ces:schema:all:5.4.0" 
            xmlns:tns="urn:cidx:names:specification:ces:wsdl:finance:5.4.0" 
            targetNamespace="urn:cidx:names:specification:ces:wsdl:finance:5.4.0">
            <import schemaLocation="xsd/OAGi_Chem_eStandards_5.4.0.xsd" namespace="urn:cidx:names:specification:ces:schema:all:5.4.0"/>
            <xsd:complexType name="HeaderType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="businessProcess" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="processStep" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="partnerId" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="partnerType" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="conversationId" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="messageId" type="tns:CESToken"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Header" type="tns:HeaderType"/>
            <xsd:complexType name="HeaderResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="processStep" type="tns:CESToken"/>
                    <xsd:element minOccurs="0" name="messageId" type="tns:CESToken"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="CESToken">
                <xsd:restriction base="xsd:token">
                    <xsd:pattern value="[a-zA-Z0-9_\-:\.]*"/>
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="128"/>
                </xsd:restriction>
            </xsd:simpleType>
             <xsd:complexType name="ConfirmType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderResponseType"/>
            </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InvoiceType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="Invoice" type="cidx:InvoiceType"/>
            </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="InvoiceResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="InvoiceResponse" type="cidx:InvoiceResponseType"/>
            </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaymentDetailType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="PaymentDetail" type="cidx:PaymentDetailType"/>
            </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InvoiceListType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="OrderStatusList" type="cidx:InvoiceListType"/>
            </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InvoiceListRequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="InvoiceListDateTimeRange" type="cidx:DateTimeRangeType"/>
                    <xsd:element minOccurs="0" name="InvoiceList" type="cidx:InvoiceListRequestType"/>
            </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FreightBillType">
                <xsd:sequence>
                    <xsd:element minOccurs="1" name="Header" type="tns:HeaderType"/>
                    <xsd:element minOccurs="0" name="FreightBill" type="cidx:FreightBillType"/>
            </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Confirm">
        <part name="Confirm" type="tns:ConfirmType"/>
    </message>
    <message name="CESServiceFault">
        <part name="Fault" type="xsd:string"/>
    </message>
    <message name="Invoice">
        <part name="Invoice" type="tns:InvoiceType"/>
    </message>
    <message name="InvoiceResponse">
        <part name="InvoiceResponse" type="tns:InvoiceResponseType"/>
    </message>
    <message name="PaymentDetail">
        <part name="PaymentDetail" type="tns:PaymentDetailType"/>
    </message>
    <message name="InvoiceListRequest">
        <part name="InvoiceListRequest" type="tns:InvoiceListRequestType"/>
    </message>
    <message name="InvoiceList">
        <part name="InvoiceList" type="tns:InvoiceListType"/>
    </message>
    <message name="FreightBill">
        <part name="FreightBill" type="tns:FreightBillType"/>
    </message>
    <portType name="CESFinancePortType">
        <operation name="Invoice">
            <input message="tns:Invoice"/>
            <output message="tns:InvoiceResponse"/>
            <fault name="CESInvoiceServiceFault" message="tns:CESServiceFault"/>
        </operation>
        <operation name="PaymentDetail">
            <input message="tns:PaymentDetail"/>
            <output message="tns:Confirm"/>
            <fault name="CESPaymentDetailServiceFault" message="tns:CESServiceFault"/>
        </operation>
        <operation name="InvoiceListRequest">
            <input message="tns:InvoiceListRequest"/>
            <output message="tns:InvoiceList"/>
            <fault name="CESInvoiceListRequestServiceFault" message="tns:CESServiceFault"/>
        </operation>
        <operation name="FreightBill">
            <input message="tns:FreightBill"/>
            <output message="tns:Confirm"/>
            <fault name="CESFreightBillServiceFault" message="tns:CESServiceFault"/>
        </operation>
    </portType>
    <binding name="CESServiceBinding" type="tns:CESFinancePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Invoice">
            <soap:operation soapAction="Invoice"/>
            <input>
                <soap:body use="literal"/>
                <!--
                <wsp:Policy>
                    <wsp:PolicyReference URI="policy:userNameTokenPolicy"/>
                </wsp:Policy>
                -->
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CESInvoiceServiceFault">
                <soap:fault name="CESInvoiceServiceFault" use="literal"/>
            </fault>
        </operation>
        <operation name="PaymentDetail">
            <soap:operation soapAction="PaymentDetail"/>
            <input>
                <soap:body use="literal"/>
                <!--
                <wsp:Policy>
                    <wsp:PolicyReference URI="policy:userNameTokenPolicy"/>
                </wsp:Policy>
                -->
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CESPaymentDetailServiceFault">
                <soap:fault name="CESPaymentDetailServiceFault" use="literal"/>
            </fault>
        </operation>
        <operation name="InvoiceListRequest">
            <soap:operation soapAction="InvoiceListRequest"/>
            <input>
                <soap:body use="literal"/>
                <!--
                <wsp:Policy>
                    <wsp:PolicyReference URI="policy:userNameTokenPolicy"/>
                </wsp:Policy>
                -->
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CESInvoiceListRequestServiceFault">
                <soap:fault name="CESInvoiceListRequestServiceFault" use="literal"/>
            </fault>
        </operation>
        <operation name="FreightBill">
            <soap:operation soapAction="FreightBill"/>
            <input>
                <soap:body use="literal"/>
                <!--
                <wsp:Policy>
                    <wsp:PolicyReference URI="policy:userNameTokenPolicy"/>
                </wsp:Policy>
                -->
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CESFreightBillServiceFault">
                <soap:fault name="CESFreightBillServiceFault" use="literal"/>
            </fault>
        </operation>
      </binding>
     <service name="CESFinanceService">
        <port name="CESFinanceServicePort" binding="tns:CESServiceBinding">
            <soap:address location="http://www.oagi.org/samples/ws/CESFinance_5.4.0"/>
        </port>
    </service>
</definitions>
